.three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 768px) {
  .theme-toggle {
    font-size: 20px; /* slightly larger for just icon */
  }

  .theme-toggle::after {
    content: "";
  }
}
/* Hide label on mobile */
@media (max-width: 768px) {
  .theme-label {
    display: none;
  }
}
